<div id="topHeader">
	<%= image_tag("", :id => "champIconHeader") %>
</div>
<table>
		<th>Icon</th>
		<% @champion.column_names.each_with_index do |column, index| %>
			<% next if index <= 2 || index > 28 %>
			<th><%= column %>
			<%= link_to image_tag("icon-arrow-up-b-128.png",
														:class => "sort-button",
														size: "10",
														alt: "Sort"), 
														champion_index_path(sort: "#{column}") %>
			<%= link_to image_tag("icon-arrow-down-b-128.png",
														:class => "sort-button",
														size: "10",
														alt: "Sort"), 
														champion_index_path(sort: "#{column} DESC") %></th>
		<% end %>

	<% @champion.each do |champion| %>
		<tr>
			<td><%= image_tag("#{champion.image_url}", :class => "champIcon") %></td>
			<td class="colchampname"><%= champion.name %></td>
			<td><%= champion.armor %></td>
			<td><%= champion.armorperlvl %></td>
			<td><%= champion.ad %></td>
			<td><%= champion.adperlvl %></td>
			<td><%= champion.autorange.to_i %></td>
			<td><%= champion.asoffset %></td>
			<td><%= champion.asperlvl %></td>
			<td><%= champion.hp %></td>
			<td class="colhplvl"><%= champion.hpperlvl %></td>
			<td><%= champion.hpregen %></td>
			<td><%= champion.hpregenperlvl %></td>
			<td><%= champion.ms.to_i %></td>
			<td><%= champion.mp %></td>
			<td><%= champion.mpperlvl %></td>
			<td><%= champion.mpregen %></td>
			<td><%= champion.mpregenperlvl %></td>
			<td><%= champion.mr %></td>
			<td><%= champion.mrperlvl %></td>
			<td><%= champion.adatmax %></td>
			<td><%= champion.armoratmax %></td>
			<td><%= champion.hpatmax %></td>
			<td><%= champion.hpregenatmax %></td>
			<td><%= champion.mpatmax %></td>
			<td><%= champion.mpregenatmax %></td>
			<td><%= champion.asatmax %></td>
		<tr>
	<% end %>
</table>